body{
  background-color: rgb(67, 64, 64);
}
.my_h6{
  color: rgb(135, 148, 162);
}

textarea{
  height: 600px;
  width: 800px;
  background-color: rgb(135, 148, 162);
  border-radius: 20px;
}

.afficher{
  width: 250px;
  height: 280px;
  border-radius: 20px;
}

.btn{
 background-color: aqua;
}